force-app/main/default/flows/Flow_PostEvent_AttendanceUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Feedback_Email</name>
        <label>Send Feedback Email</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Current_Feedback_Object</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Current_Feedback_Object.Attendee__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>email_test</name>
        <dataType>String</dataType>
        <value>
            <stringValue>test@test.com</stringValue>
        </value>
    </constants>
    <description>Update v57</description>
    <environments>Default</environments>
    <formulas>
        <name>link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp;{!FeedbackID}</expression>
    </formulas>
    <interviewLabel>Flow_PostEvent_AttendanceUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_PostEvent_AttendanceUpdate</label>
    <loops>
        <name>Current_Feedback_Object</name>
        <label>CurrentFeedbackObject</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Feedback_objets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Feedback_Email</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CurrentCampaingMember</name>
        <label>CurrentCampaingMember</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Confirmations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_Event_feedBack</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Attendance_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Event_feedBack</name>
        <label>create Event feedBack</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>FeedbackID</assignRecordIdToReference>
        <connector>
            <targetReference>CurrentCampaingMember</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendee__c</field>
            <value>
                <elementReference>CurrentCampaingMember.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>CurrentCampaingMember.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FeedbackName</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Feedback__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Confirmations</name>
        <label>Get Confirmations</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentCampaingMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feedback_objets</name>
        <label>Get Feedback objets</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Feedback_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attendance_Status</name>
        <label>Update Attendance Status</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Get_Feedback_objets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.CampaignMembers</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Confirmations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body_email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for attending our event! We hope to see you at future events.&lt;/p&gt;&lt;p&gt;{!link}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Current_Feedback_Object.Attendee__r.Name},

We sincerely thank you for attending the event {!$Record.Name}. We hope you found it valuable and enjoyable.

We would greatly appreciate your feedback. Please take a moment to complete this short survey:
{!link}

Thank you once again for your participation.

Warm regards,
{!$Organization.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank You for Attending {!$Record.Name}!</text>
    </textTemplates>
    <textTemplates>
        <name>EventNameUnique</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CurrentCampaingMember.Name} comentó sobre {!CurrentCampaingMember.Campaign.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>FeedbackName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CurrentCampaingMember.Name} in {!CurrentCampaingMember.Campaign.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>subject_text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for attending the [Event Name] event</text>
    </textTemplates>
    <variables>
        <name>FeedbackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
