force-app/main/default/flows/Flow_ValidateCapacity_StudentRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_announce_waitlist</name>
        <label>Email to announce waitlist</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Student__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>WaitlistSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WaitlistBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_confirm_interest</name>
        <label>Email to confirm interest</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Student__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectConfirmation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ConfirmationBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Capacity</name>
        <label>Check Capacity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_registration_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Capacity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Available_Capacity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_registration_form</targetReference>
            </connector>
            <label>Available Capacity &gt; 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RegistrationFormName</name>
        <dataType>String</dataType>
        <expression>$Record.Event__r.Name &amp; &quot; - &quot; &amp; $Record.Student__r.FirstName &amp; &quot; &quot; &amp; $Record.Student__r.LastName</expression>
    </formulas>
    <formulas>
        <name>StudentFullName</name>
        <dataType>String</dataType>
        <expression>$Record.Student__r.FirstName &amp; &quot; &quot; &amp; $Record.Student__r.LastName</expression>
    </formulas>
    <interviewLabel>Flow_ValidateCapacity_StudentRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_ValidateCapacity_StudentRegistration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_confirmation_task</name>
        <label>Creating confirmation task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Email_to_confirm_interest</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StudentFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RVSP__c</field>
            <value>
                <stringValue>Not decided yet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Form__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Confirmation_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Capacity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_registration_form</name>
        <label>Copy 1 of Update registration form</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_to_announce_waitlist</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RegistrationFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Wailtlist</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_registration_form</name>
        <label>Update registration form</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Creating_confirmation_task</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RegistrationFormName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Registration_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConfirmationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>¡Muchas gracias por mostrar interés {!$Record.Student__r.FirstName}!

Este mensaje es para confirmarte que alcanzaste cupo, sin embargo, el día del evento {!$Record.Event__r.Name} que es el {!$Record.Event__r.Event_Date__c} se te enviará un correo a las 8 am y otro a las 10 am para confirmar tu asistencia final.
Por favor debes confirmar tu asisntencia, en caso de no hacer antes de las 12 pm, se toma como cancelado tu registro.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectConfirmation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>¡Alcanzaste cupo para {!$Record.Event__r.Name}!</text>
    </textTemplates>
    <textTemplates>
        <name>WaitlistBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nos apena informarte que no alcanzaste cupo. Sin embargo, te mandamos a la lista de espera.

{!$Record.Event__r.Name} será el {!$Record.Event__r.Event_Date__c}. Pero a las 12 pm del mismo día es posible que se te mande un correo en caso de alguna persona cancele su asisntencia y sería posible puedas unirte al evento.</text>
    </textTemplates>
    <textTemplates>
        <name>WaitlistSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Se te mandó a la lista de espera del evento {!$Record.Event__r.Name}</text>
    </textTemplates>
</Flow>
