force-app/main/default/flows/Flow_Waitlist_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Student__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Bodyemail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>There_is_people_on_the_waitlist</name>
        <label>There is people on the waitlist?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>People_on_the_waitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__r.Available_Capacity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Event_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TomorrowDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RSVP_Record</targetReference>
            </connector>
            <label>People on the waitlist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Event__r.Event_Date__c})</expression>
    </formulas>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!Get_Record_From_Confirmation_Task.Id}</expression>
    </formulas>
    <formulas>
        <name>NamingConfirmationTask</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Event__r.Name}, 30) &amp; &quot; - &quot; &amp; LEFT({!$Record.Student__r.LastName}, 20) &amp; &quot; Status&quot;</expression>
    </formulas>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE($Flow.CurrentDateTime) + 1</expression>
    </formulas>
    <interviewLabel>Flow Waitlist Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Waitlist Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Confirmation_Task</name>
        <label>Creating Confirmation Task</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Get_Record_From_Confirmation_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Get_records_from_campaign.Event_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NamingConfirmationTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RVSP__c</field>
            <value>
                <stringValue>Not decided yet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Form__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Confirmation_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_From_Confirmation_Task</name>
        <label>Get Record From Confirmation Task</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Confirmation_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_records_from_campaign</name>
        <label>Get records from campaign</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_people_on_the_waitlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RSVP_Record</name>
        <label>Update Registration FormRecord</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Creating_Confirmation_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_records_from_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wailtlist</stringValue>
            </value>
        </filters>
        <object>Registration_Form__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-11-26</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Bodyemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;¡Hay cupo disponible para el evento de {!$Record.Event__r.Name} !. Apresúrate y confirma tu asistencia en la plataforma, puedes no ser el único interesado. {!Link}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NameConfirmationTask</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;LEFT({!$Record.Event__r.Name}, 30) &amp;amp; &quot; - &quot; &amp;amp; LEFT({!$Record.Student__r.LastName}, 20) &amp;amp; &quot; Status&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cupo disponible para {!$Record.Event__r.Name}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
