force-app/main/default/flows/Flow_PreEvent_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Send_email_to_those_who_interested_on_the_event</name>
        <label>Send email to those who going to be on the event</label>
        <locationX>264</locationX>
        <locationY>1500</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_2.Registration_Form__r.Student__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforceproyecto63@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyEmail2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_those_who_interested_on_the_event</name>
        <label>Send email to those who interested on the event</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_1.Registration_Form__r.Student__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforceproyecto63@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyEmail1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Still_Not_Answer</name>
        <label>Did They confirm the email?</label>
        <locationX>396</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_Maximum_Capacity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>They_answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.RVSP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Create_a_campaign_member_for_the_event</targetReference>
            </connector>
            <label>They answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>CT_is_from_the_same_event</name>
        <label>The Confirmation Task is from the current event?</label>
        <locationX>594</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.Registration_Form__r.Event__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Still_Not_Answer</targetReference>
            </connector>
            <label>It is</label>
        </rules>
    </decisions>
    <decisions>
        <name>The_confirmation_Task_is_from_the_current_event</name>
        <label>The confirmation Task is from the current event?</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Registration_Form__r.Event__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_those_who_interested_on_the_event</targetReference>
            </connector>
            <label>Confirmation task is from the Campaign ID?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ChangeCapacity</name>
        <dataType>Number</dataType>
        <expression>{!Loop_2.Registration_Form__r.Event__r.Maximum_Capacity__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Current_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>EventURL</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Loop_2.Registration_Form__r.Event__r.URL__c}),
  &quot;&quot;,
  &quot;Link de la reunión online: &quot; &amp; {!Loop_2.Registration_Form__r.Event__r.URL__c}
)</expression>
    </formulas>
    <formulas>
        <name>EventWithin24Hours</name>
        <dataType>Date</dataType>
        <expression>(NOW() + 1)</expression>
    </formulas>
    <formulas>
        <name>Link1</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!Loop_1.Id}</expression>
    </formulas>
    <interviewLabel>Flow PreEvent Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow PreEvent Reminders</label>
    <loops>
        <name>Loop_1</name>
        <label>First Loop Confirmation Task</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Records_Confirmation_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>The_confirmation_Task_is_from_the_current_event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Maximum_Time_To_Answer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Second Loop Registration Task</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <collectionReference>Copy_1_of_Get_Records_Confirmation_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CT_is_from_the_same_event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wait_until_12_pm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Create_a_campaign_member_for_the_event</name>
        <label>Create a campaign member for the event</label>
        <locationX>264</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Send_email_to_those_who_interested_on_the_event</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Loop_2.Registration_Form__r.Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Loop_2.Registration_Form__r.Student__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Records_Confirmation_Task</name>
        <label>Get Records for second time</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Confirmation_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Confirmation_Task</name>
        <label>Get Records Confirmation Task</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RVSP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not decided yet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Confirmation_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_status_of_campaign_to_Completed</name>
        <label>Change status of campaign to Completed</label>
        <locationX>176</locationX>
        <locationY>1968</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_Maximum_Capacity</name>
        <label>Update Maximum Capacity for event</label>
        <locationX>528</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Maximum_Capacity__c</field>
            <value>
                <elementReference>ChangeCapacity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_Confirmation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Today_Event_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-24</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyEmail1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {{!Loop_1.Registration_Form__r.Student__r.FirstName}}, hoy es {!Loop_1.Registration_Form__r.Event__r.Name}, pero necesitamos confirmar tu asistencia.
{!Link1}
Por favor de confirmar para antes de las 11:55 AM, sino se cancela tu registro. Gracias.</text>
    </textTemplates>
    <textTemplates>
        <name>BodyEmail2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Muchas gracias por tu interés {!Loop_2.Registration_Form__r.Student__r.FirstName}, nos vemos al rato en {!Loop_2.Registration_Form__r.Event__r.Name}.
{!EventURL}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Confirma tu asistencia para {!Loop_1.Registration_Form__r.Event__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nos vemos en {!Loop_2.Registration_Form__r.Event__r.Name}</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Confirmation_Task__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Confirmation_Task__c</objectType>
    </variables>
    <waits>
        <name>Maximum_Time_To_Answer</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Maximum Time To Answer</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Copy_1_of_Get_Records_Confirmation_Task</targetReference>
            </connector>
            <label>el_0</label>
            <offset>118</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_until_12_pm</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait until end of the day</label>
        <locationX>176</locationX>
        <locationY>1860</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <timeZoneId>America/Mexico_City</timeZoneId>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Change_status_of_campaign_to_Completed</targetReference>
            </connector>
            <label>el_1</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
            <resumeTime>14:00:00.000Z</resumeTime>
        </waitEvents>
    </waits>
</Flow>
